.draftJsEmbedPlugin__embedWrapper__1GiCv {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin: 0 auto;
}

.draftJsEmbedPlugin__embed__DJdZR {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.public-DraftStyleDefault-block {
  padding-left: 1rem;
  padding-right: 1rem;
}
